/* Global Styles */
* {
  box-sizing: border-box;
}

div.quotes {
  border-bottom: 2px solid gray;
}

div.bio {
  border-bottom: 2px solid gray;
}

body {
  font-family: 'Roboto', sans-serif;
  color:cornsilk;
  margin: 0;
  padding: 0;
  background-color:#1B1B32;
  text-align: justify;
}

.container {
  max-width: 1000px;
  margin: 0 auto;
}

/* Header Styles */
header {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 20px;
}

h1.name {
  font-size: 3rem;
  margin: 0;
  text-align: center;
  color: #FECC4C;
}

/* Image Styles */
.center-div {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

img.image {
  max-width: 100%;
  height: auto;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  animation: fadeIn 2s ease;
  transition: transform 1s ease;
}

img.pro-img {
  width: 400px;
  height: 200px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  animation: fadeIn 2s ease;
  transition: transform 1s ease;
  float: right;
  margin-left: 20px;
}

ul.pro li {
  margin-top: 50px;
  margin-bottom: 60px;
}

/* Biography Styles */
.bio {
  flex: 1;
  margin: 20px;
}

h2 {
  font-size: 2rem;
  margin-bottom: 20px;
  color: #FECC4C;
}

p {
  font-size: 1.2rem;
  line-height: 1.5;
}

/* Quotes Styles */
.quotes {
  flex: 1;
  margin: 20px;
}

.projects {
  flex: 1;
  margin: 20px;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

li {
  font-size: 1.2rem;
  margin-bottom: 10px;
  padding: 5px;
}

a {
  color:#FECC4C;
  font-size: 1.6rem;
}

/* Animation */
img:hover {
  transform: scale(1.1);
}

@keyframes fadeIn {
  from {
      opacity: 0;
  }

  to {
      opacity: 1;
  }
}
